@media (max-width: 639px) {
  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    padding-left: 15px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: left;
  }
}
